<h2>Dashboard</h2>

<a href="http://localhost:5003" class="btn btn-primary">Adverts</a>
<a href="http://localhost:5004" class="btn btn-primary">Inventory</a>
<a href="#" class="btn btn-default">Shop</a>
<a href="#" class="btn btn-default">Profile</a>
<a href="/Logout/" class="btn btn-warning">Sign out</a>
