<html>
    <head></head>
    <body>
        <H1>Go Fish!</H1>
        <h2>Identity Server Connection Test:</h2>
        @ViewBag.AccessToken
        <br />
        @ViewBag.Content
        <hr>
        <h2>REDIS Test:</h2>
        @ViewBag.RedisString
        <hr>
        <h2>Some Function Tests:</h2>
        @Html.ActionLink("Add a new Advert", "AddNew", "Advert")
    </body>
</html>
