@model GoFish.UI.MVC.Advert.PrePublishAdvertViewModel

<h2>Publish advert?</h2>
<p>You are about to publish this advert.</p>
<form class="form" asp-action="Publish">
	<input type="hidden" asp-for="AdvertData.Id"></input>
	<input type="hidden" asp-for="UserId"></input>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="AdvertData.Pitch"></label>
		<div class="col-sm-10">
			@Model.AdvertData.Pitch
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" asp-for="AdvertData.Price"></label>
		<div class="col-sm-10">
			@Model.AdvertData.Price
		</div>
	</div>
	<div class="row">
		<label class="col-sm-12 col-form-label">Would you like to add these advertised items to your stock list, or do you want to just publish the advert?</label>
	</div>
	<div class="form-group row col-sm-12">
		<input type="radio" asp-for="PublishType" value="PublishAndAdd">Publish the advert and add items to stock</input><br />
		<input type="radio" asp-for="PublishType" value="PublishOnly">Just publish the advert</input><br>
		<span asp-validation-for="PublishType" class="text-danger"></span>
	</div>
	<div class="form-group row col-sm-12">
		<p class="text-warning"><strong>Please note that this operation cannot be reversed!</strong></p>
	</div>
	<div class="form-group row">
		<div class="offset-sm-2 col-sm-10">
			<button name="SubmitButton" type="submit" class="btn btn-default" value="Cancel">No, go back</button>
			<button name="SubmitButton" type="submit" class="btn btn-warning" value="Publish">Ok, publish it</button>
		</div>
	</div>
</form>