@model GoFish.UI.MVC.Advert.UserOwnedViewModel

<h2>Advert Posted</h2>
<p>Your advert has been posted for publishing!</p>
<p>It will appear in your published adverts list shortly.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to advert list</a>
