@model GoFish.UI.MVC.UserOwnedViewModel

<h2>Advert Posted</h2>
<p>Your advert has been posted for publishing.  It should appear in your published adverts list shortly.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to advert list</a>
