@model GoFish.UI.MVC.Inventory.StockViewModel

<h2>Stock shelf - @Model.ProductName</h2>

<div style="width:300px;">
	<a href="#" class="btn btn-block btn-primary">Sell stock</a>
	<a href="#" class="btn btn-block btn-primary">Change price</a>
	<a href="#" class="btn btn-block btn-primary">Stock disposed</a>
	<a href="#" class="btn btn-block btn-primary">Split shelf</a>
	<a href="@Model.DashboardUrl" class="btn btn-block btn-default">Dashboard</a>
</div>